html {
    font-family: "DejaVu Sans";
    background: #03001C;
    color: #5B8FB9;
}
a:link {
    color: #73b3e7;
    text-decoration: none;
}
a:visited {
    color: #B6EADA;
    text-decoration: none;
}
a:hover {
    color: #301E67;
    text-decoration: none;
}
a:active {
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1cm;
}

h1 {
    text-align: center;
}

img {
    max-width: 75%;
}

img:hover {
    opacity: 0.4;
}

td {
    padding: 10px 10px;
}
