html {
    font-family: "DejaVu Sans";
    background: #0c0010;
    color: #4a0560;
}
a:link {
    color: #810CA8;
    text-decoration: none;
}
a:visited {
    color: #C147E9;
    text-decoration: none;
}
a:hover {
    color: #E5B8F4;
    text-decoration: none;
}
a:active {
    color: #FFFFFF;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1cm;
}

section {
    display: none;
    position: absolute;
    margin: 1cm 1cm;
}

section:target {
    display: block;
}
